.error {
    background-color: rgb(243, 147, 147);
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}